<?xml version="1.0" encoding="utf-8"?>

<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="NHibernate.Test">
    <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
    <property name="connection.connection_string">
      <!--Data Source=D:/LibDemo.db;-->
      Data Source=LibDemo.db;
    </property>
    <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
    <mapping assembly="LibDemo"/>
  </session-factory>
</hibernate-configuration>